/* Google Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Header and Footer  */

.navbar-override {
  background-color: #390f18;
  min-height: 3rem;
}

.footer-override {
  background-color: black;
}

/* Base classes */

.brand {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  text-shadow: 3px 3px black;
}

body {
  font-family: "Amiri", sans-serif;
  font-size: 1.4rem;
}

/* Hero Image */

.hero {
  object-fit: cover;
  height: auto;
  max-height: 33vh;
  width: 100%;
}

/* Blog */
/* Reference classes for like button - https://github.com/Code-Institute-Solutions/Django3blog/blob/master/06_creating_our_first_view/static/css/style.css */

.btn-like {
  background: transparent;
  border: none;
  color: #e84610;
}

.btn-like:hover,
.btn-like:active {
  background: transparent;
  border: none;
  color: #e84610;
}

#blog-detail-img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

.post-list {
  min-height: 87vh;
}

/* Bootstrap Accessibility concerns */

a {
  color: #0071eb;
}

.btn-success {
  background-color: #1e7e34;
  border-color: #1e7e34;
}

.btn-primary {
  background-color: #0062cc;
  border-color: #0062cc;
}

/* Social Icons */

footer i {
  background-color: #555555;
  border-radius: 50%;
  padding: 0.5rem;
}

footer i:hover {
  background-color: #777777;
}

#ci {
  color: #ff6900;
  font-family: "Montserrat", sans-serif;
}

#ci:hover {
  color: #ff9900;
  font-family: "Montserrat", sans-serif;
}
