{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Safe Hands Guitar Tech | Setups - {{ job }}</title>
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-6 offset-lg-3 pt-3 post-list">
        <!-- Job detailed information -->
        <div class="card">
          <img src="{{ job.image.url }}" class="card-img-top" alt="{{ job }}" />
          <div class="card-body">
            <h3 class="card-title">{{ job.instrument }}</h3>
            <h4 class="card-title text-muted">
              User: {{ job.user }} | Booked in:
              {{ job.date_in }} |
              <!-- Display choice value, not code -->
              <!-- Reference: https://stackoverflow.com/questions/4320679/django-display-choice-value -->
              Status: {{ job.get_job_status_display }}
            </h4>
            <hr />
            <p class="card-text">
              <strong>Job request:</strong>
              {{ job.description }}
            </p>
            <hr />
            <!-- Pre-setup specifications -->
            <h4 class="card-title text-center ">
              <strong>Initial Specifications:</strong>
            </h4>
            <table class="table">
              <tr>
                <th>Reading</th>
                <th>Value</th>
              </tr>
              <tr>
                <td>String brand</td>
                <td>{{ job.pre_string_brand }}</td>
              </tr>
              <tr>
                <td>String gauges</td>
                <td>{{ job.pre_string_gauges }}</td>
              </tr>
              <tr>
                <td>Scale length</td>
                <td>{{ job.pre_scale_length }}</td>
              </tr>
              <tr>
                <td>Fretboard radius</td>
                <td>{{ job.pre_fretboard_radius }}</td>
              </tr>
              <tr>
                <td>Neck relief</td>
                <td>{{ job.pre_neck_relief }}</td>
              </tr>
              <tr>
                <td>Action</td>
                <td>{{ job.pre_action_1 }}</td>
              </tr>
              <tr>
                <td>Neck pickup height</td>
                <td>{{ job.pre_neck_pickup_height }}</td>
              </tr>
              <tr>
                <td>Middle pickup height</td>
                <td>{{ job.pre_middle_pickup_height }}</td>
              </tr>
              <tr>
                <td>Bridge pickup height</td>
                <td>{{ job.pre_bridge_pickup_height }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong>Pre-setup notes:</strong>
                </td>
              </tr>
              <tr>
                <td colspan="2">{{ job.pre_notes }}</td>
              </tr>
            </table>
            <hr />
            <!-- Post-setup specifications -->
            <h4 class="card-title text-center ">
              <strong>Final Specifications:</strong>
            </h4>
            <!-- For completed jobs -->
            {% if job.job_status == 2 %}
              <table class="table">
                <tr>
                  <th>Reading</th>
                  <th>Value</th>
                </tr>
                <tr>
                  <td>String brand</td>
                  <td>{{ job.post_string_brand }}</td>
                </tr>
                <tr>
                  <td>String gauges</td>
                  <td>{{ job.post_string_gauges }}</td>
                </tr>
                <tr>
                  <td>Scale length</td>
                  <td>{{ job.post_scale_length }}</td>
                </tr>
                <tr>
                  <td>Fretboard radius</td>
                  <td>{{ job.post_fretboard_radius }}</td>
                </tr>
                <tr>
                  <td>Neck relief</td>
                  <td>{{ job.post_neck_relief }}</td>
                </tr>
                <tr>
                  <td>Action</td>
                  <td>{{ job.post_action_1 }}</td>
                </tr>
                <tr>
                  <td>Neck pickup height</td>
                  <td>{{ job.post_neck_pickup_height }}</td>
                </tr>
                <tr>
                  <td>Middle pickup height</td>
                  <td>{{ job.post_middle_pickup_height }}</td>
                </tr>
                <tr>
                  <td>Bridge pickup height</td>
                  <td>{{ job.post_bridge_pickup_height }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>Post-setup notes:</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">{{ job.post_notes }}</td>
                </tr>
              </table>
              <!-- For jobs in progress -->
            {% elif job.job_status == 1 %}
              <p>This setup is in progress! Final specifications will be published soon.</p>
              <!-- For jobs todo -->
            {% elif job.job_status == 0 %}
              <p>
                This setup has not yet started. Final specifications will be published on completion.
              </p>
            {% endif %}
          </div>
        </div>
        <!-- Navigatiopn back to list and CRUD functions for admin -->
        <div class="d-flex justify-content-around my-3">
          <a href="{% url 'setups:jobs' %}" class="btn btn-lg btn-primary">Back to list</a>
          {% if perms.setup.can_create_job %}
            <a href="{% url 'setups:job_update' pk=job.id %}"
               class="btn btn-lg btn-success mx-3">Update Job</a>
            <a href="{% url 'setups:job_delete' pk=job.id %}"
               class="btn btn-lg btn-danger">Delete Job</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock content %}
