{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Safe Hands Guitar Tech | Create and Update Job</title>
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <!-- Page introduction -->
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 pt-3">
        <h2>Create/Update your job:</h2>
        <p>
          Fill out the form with as much detail as possible about your customer's
          request. Add images in landscape orientation where possible.
        </p>
      </div>
    </div>
    <hr />
    <!-- Job model form -->
    <div class="row">
      <div class="col-10 offset-1 col-lg-4 offset-lg-4 p-3 form-actions">
        <!-- Reference: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Forms#templates-->
        <!-- Form enctype attribute required for file upload of images -->
        <!-- Reference: https://stackoverflow.com/questions/43579909/image-is-not-uploaded-via-django-form -->
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex justify-content-around">
            <a href="{% url 'setups:job_detail' pk=job.id %}"
               class="btn btn-lg btn-primary">Back to Job Details</a>
            <input type="submit" value="Create/Update Job" />
            <a href="{% url 'setups:job_delete' pk=job.id %}"
               class="btn btn-lg btn-danger">Delete Job</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <!-- Add Bootstrap styling to form submit button -->
  <script>
    $("input[type=submit]").addClass("btn btn-lg btn-success")
  </script>
{% endblock scripts %}
