{% extends 'base.html' %}

{% block content %}

<h1>Job Create/Update page!</h1>

<!-- Reference: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Forms#templates-->
<!-- Form enctype attribute required for file upload of images -->
<!-- Reference: https://stackoverflow.com/questions/43579909/image-is-not-uploaded-via-django-form -->
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>
<a href="{% url 'setups:jobs' %}">
  <button>Return</button>
</a>

{% endblock content %}