{% extends 'base.html' %}
{% block title %}
<title>Safe Hands Guitar Tech | Delete Job</title>
{% endblock title %}

{% block content %}

<h1>Job Delete page!</h1>

<p>Are you sure you want to delete {{ job }}?</p>

<!-- Reference: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Forms#templates-->
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Yes, delete" />
</form>

<a href="{% url 'setups:jobs' %}">
  <button>No, take me back</button>
</a>

{% endblock content %}