{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid min-vh-100">
    <div class="row">
      <div class="col d-flex justify-content-center ">
        <!-- Reference: https://getbootstrap.com/docs/4.6/components/card/#header-and-footer -->
        <div class="card text-center mt-3">
          <div class="card-header">500 Error</div>
          <div class="card-body">
            <h5 class="card-title">Internal server error!</h5>
            <p class="card-text">We have a problem with our servers right now!</p>
            <a href="{% url 'home:index' %}" class="btn btn-lg btn-primary">Take me home!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
