{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-2 mx-2">Services and Pricing</h2>
      <p class="my-2 mx-2">
        The services on offer are detailed below. Each job is unique so the
        prices show are a general guide. If strings are not provided, then they
        can be ordered for your service, excluding the listed price.
      </p>
    </div>
  </div>
  {% if services %} {% for service in services %} {% if forloop.first %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <img
          class="img-fluid img-thumbnail align-self-center"
          src="{{ service.featured_image.url }}"
          alt="{{ service.featured_image_alt }}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
          <p class="card-text">{{ service.description|safe }}</p>
          <strong class="card-text">Price: from £{{ service.price }}</strong>
        </div>
      </div>
    </div>
  </div>
  {% elif forloop.counter|divisibleby:2 %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
          <p class="card-text">{{ service.description|safe }}</p>
          <strong class="card-text">Price: from £{{ service.price }}</strong>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <img
          class="img-fluid img-thumbnail align-self-center"
          src="{{ service.featured_image.url }}"
          alt="{{ service.featured_image_alt }}" />
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% else %}
<div class="row">
  <div class="col">
    <h2>No service information is currently available</h2>
  </div>
</div>
{% endif %} {% endblock content %}
