{% extends 'base.html' %}
{% load static %}
<!-- Template title -->
{% block title %}
  <title>Safe Hands Guitar Tech | Services</title>
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 p-3">
        <!-- General service overview -->
        <h2 class="my-2 mx-2">Services and Pricing</h2>
        <p class="my-2 mx-2">
          The services on offer are detailed below. Each job is unique so the
          prices show are a general guide. If strings are not provided, then they
          can be ordered for your service, excluding the listed price.
        </p>
        <p class="my-2 mx-2">
          Acoustic guitars and Bass guitars have much in common with electric
          guitars and as such, these service prices apply to those instruments
          too. Although the journey to a great feeling acoustic guitar is often
          very different to that of an electric, the principles remain the same.
        </p>
      </div>
      <!-- Service detail loop -->
      <!-- Bootstrap horizontal card: https://getbootstrap.com/docs/4.6/components/card/#horizontal-->
      <div class="row-no-gutters">
        <div class="col col-lg-8 offset-lg-2">
          {% if services %}
            {% for service in services reversed %}
              <!-- Left-side card image for first iteration -->
              {% if forloop.first %}
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                      <img class="img-fluid img-thumbnail align-self-center"
                           src="{{ service.featured_image.url }}"
                           alt="{{ service.featured_image_alt }}" />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">{{ service.name }}</h3>
                        <p class="card-text">{{ service.description|striptags }}</p>
                        <strong class="card-text">Price: from
                        £{{ service.price }}</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Reverse the horizontal card format for even iterations -->
              {% elif forloop.counter|divisibleby:2 %}
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">{{ service.name }}</h3>
                        <p class="card-text">{{ service.description|striptags }}</p>
                        <strong class="card-text">Price: from
                        £{{ service.price }}</strong>
                      </div>
                    </div>
                    <div class="col-md-4 d-flex">
                      <img class="img-fluid img-thumbnail align-self-center"
                           src="{{ service.featured_image.url }}"
                           alt="{{ service.featured_image_alt }}" />
                    </div>
                  </div>
                </div>
                <!-- Back to left-side card image for odd iterations-->
              {% else %}
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                      <img class="img-fluid img-thumbnail align-self-center"
                           src="{{ service.featured_image.url }}"
                           alt="{{ service.featured_image_alt }}" />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">{{ service.name }}</h3>
                        <p class="card-text">{{ service.description|striptags }}</p>
                        <strong class="card-text">Price: from
                        £{{ service.price }}</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End alternate card loop -->
              {% endif %}
            {% endfor %}
            <!-- Defensive clause for no access to Service model -->
          {% else %}
            <div class="row">
              <div class="col">
                <h2>No service information is currently available</h2>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Link home -->
    <div class="row-no-gutters">
      <div class="col d-flex justify-content-center mb-3">
        <a href="{% url 'home:index' %}">
          <div class="btn btn-lg btn-primary">Home</div>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
